#inline
#inline-block,
#block,
#none{
    background-color: red;
    /* padding :20px */
    width: 100px;
    height :100px;
}

/* khong chinh duoc height va width */
#inline{
    display: inline;
}

/* chinh height + width (khong xuong hang) */
#inline-block{
    display: inline-block;
}

/* chinh duoc height + width (xuong hang) */
#block{
    display: block;
}

/* an component */
#none{
    display: none;
}
